/*navbar*/
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 50%;
      height: 100%;
      background-color: white;
      right:  -100%;
      text-align: center;
      transition: all .5s;
      display: flex;
      justify-content: center;
    }
    nav ul li{
      
      margin: 20px 0;
      line-height: 30px;
      display: flex;
    }
    nav ul li a{
      font-size: 15px;
    }
    a:hover,a.active{
      background: none;
      color: black;
    }
    #check:checked ~ ul{
      right: 0;
    }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .chef-one ,.chef-two, .chef-three{
        margin-left: 12%;
        margin-right: 12%;
    }
    .social-icons{
        position: relative;
         padding: 15px 15px 0px 10px;  
     }
     .hover-pic{
        height:25%;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .chef-one ,.chef-two, .chef-three{
        margin-left: 12%;
        margin-right: 12%;
    }
    .social-icons{
        position: relative;
         padding: 15px 15px 0px 10px;  
     }
     .hover-pic{
        height:25%;
      }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .video-btn{     
        width: 5%;
        margin-left: 5%;
     }
     .section-one-text span{
       left: 55%;
     }

  .contact-divs{
    background-color: rgb(238,238,238); 
    width: 40%;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

   .chef-one ,.chef-two, .chef-three{
       width:40%;
       border: solid 1px gray;
       border-radius: 3% 3% 0% 0%;
       box-shadow: 2px 2px 2px 2px #888888;
        margin-left: 0%;
        margin-right: 0%;
 }
 .chef-three{
    margin-right: 45%;
 }

   .chefs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   }
   .hover-pic{
    height:33%;
  }
  .social-icons{
    position: relative;
     padding: 12px 15px 0px 4px;  
 }
   .section-one-text h2{
    font-weight:lighter;
    font-size: xx-large;
    padding:  8% 2%;
   }

   .section-one-text p{
    color:rgb(79,79,90);
    font-family:  "Amatic SC", sans-serif;
}
 .section-one button 
 {
    border-radius: 50px 50px 50px 50px;
    padding:  3% 5%;
    float: left;
}
   .section-one{
    padding-bottom: 5%;
   }
   .section-one-text a p {
    top:130%;
   }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    overflow: hidden;
    flex-direction: column;
    
  }
  .meals{
    column-gap: 0;
    flex: 1;
    column-count: 2;
  }

   .meal-1 , .meal-2 , .meal-3 , .meal-4 , .meal-5, .meal-6 , .meal-7{  
    width:100%;
    height:auto ;
  }
   .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }
  .get{
    width:45%;
    order:2;

  }
  .footer-section-one{
    width:45%;
    order: 1;
  }
  .footer-section-two{
    width:100%;
    order:3;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section-one-text{
        margin-left: 5%;
    }
    .video-btn{     
        width: 10%;
        margin-left: 2%;
     }
     .section-one-text span{
       left: 24%;
     }
     .btn-group{
        width: 80%;
        padding: 4%  0%;
         display: flex;
        justify-content: flex-start;
 
      }
      
      .chef-one ,.chef-two, .chef-three{
        width:25%;
        border: solid 1px gray;
        border-radius: 3% 3% 0% 0%;
        box-shadow: 2px 2px 2px 2px #888888;
         margin-left: 0%;
         margin-right: 0%;
        }
 
        .chefs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
        .chefs .hover-pic{
            width: 10%;
          }
          .social-icons{
            position: relative;
             padding: 15px 15px 0px 4px;  
         }
         .gallery{
            display: flex;
            flex-wrap: wrap;
            gap: 1.25rem;
            overflow: hidden;
            flex-direction: column;
            
          }
          .meals{
            column-gap: 0;
            flex: 1;
            column-count: 3;
          }
        
           .meal-1 , .meal-2 , .meal-3 , .meal-4 , .meal-5, .meal-6 , .meal-7{  
            width:100%;
            height:auto ;
          }
          .form{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
          #name{
           width: 45%;
          }
          #email{
            width: 45%;
            margin-left: 5%;
          }



  .contact-divs{
    background-color: rgb(238,238,238); 
    width: 40%;
    float: left;
    margin: 1% 1%;
  }

   .section-one-pic{
    width: 45%;
    position: absolute;
    right: 0%;
    top: 0;
    padding-top: 10%;
    padding-right: 5%;
   }
   .section-one-text{
    width: 50%;
   }
   .section-one-text h2{
    font-size:xx-large;
    color:rgb(55,55,63);
    font-family: cursive ;
    display: flex;
    justify-content:left;
    padding: 27% 0% 0% 0%;
    text-decoration: none solid rgb(55, 55, 63) ;
   }

   .section-one-text p{
    color:rgb(79,79,90);
    font-family:  "Amatic SC", sans-serif;
    text-align: left;
    padding:  2% 0% 0% 0%;
}
 .section-one button 
 {
    border-radius: 0px 50px 50px 50px;
    padding:  3% 8%;
    margin: 5% 2%;
}

   .section-one{
    padding-bottom: 10%;
   }
      .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   }
  .get{
    width:45%;
    order:2;

  }
  .footer-section-one{
    width:45%;
    order: 1;
  }
  .footer-section-two{
    width:100%;
    order:3;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .section-one-text{
        margin-left: 5%;
    }
    .video-btn{     
        width: 7%;
        margin-left: 2%;
     }
     .section-one-text span{
       left: 22%;
     }
     .btn-group{
        width: 80%;
        padding: 4%  0%;
         display: flex;
        justify-content: flex-start;
      }
      .section-one-text p{
        color:rgb(79,79,90);
        font-family:  "Amatic SC", sans-serif;
        padding:  3% 0% 0% 0%;
        width: 70%;
    }
    .section-one-text h2{
        font-size: 45px;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
      }
      .meals{
        column-gap: 0;
   
        column-count: 3;
      }
    
       .meal-1 , .meal-2 , .meal-3 , .meal-4 , .meal-5, .meal-6 , .meal-7{  
        width:100%;
        height:auto ;
      }
    
    .contact-divs{
  background-color: rgb(238,238,238); 
  width: 40%;
  float: left;
  margin: 3% 3%;
}

.footer{
    display: flex;
    padding: 3% 0% 0% 0%;
    flex-direction: row;
    padding-bottom: 2%;
   }
  .get{
    width:30%;
    order:3;
  }
  .footer-section-one{
    width:30%;
    order:1;
    margin: 0%;
    padding-left: 2%;
  }
  .footer-section-two{
    width:40%;
    order:2;
  }
.footer-social-icons p{
    margin-top:-30% ;
}
.logo-icon{
 width: 20%;
}
#email2{
    margin:  2% 5% ;
    padding: 2% 3% ;
    width:50%;
    color:#555555;
    border-color: #ccc;
  }
}